:host {
  display: block;
}

.login-hero {
  position: relative;
  min-height: 100vh;
  background: linear-gradient(102deg, #0b2cb2 0%, #2149d3 50%, #4d7eff 100%);
}

.login-hero__content {
  position: relative;
  z-index: 1;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem 2rem 2.5rem;
}

.login-hero__heading {
  max-width: 50rem;
  padding-top: 0.5rem;
  margin-top: 7rem;
}

.login-hero__title {
  max-width: 50rem;
  color: #fff;
  font-size: clamp(3rem, 4.4vw, 4.7rem);
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: -0.03em;
}

.login-hero__contacts {
  position: relative;
  z-index: 1;
}

.login-hero::before {
  content: '';
  position: absolute;
  inset: auto 0 0 0;
  height: 100%;
  background: linear-gradient(90deg, #d9dce7 0%, #eceef5 60%, #f6f7fb 100%);
  clip-path: polygon(0 100%, 0 100%, 100% 0, 100% 0, 100% 100%);
}

@media (min-width: 1024px) {
  .login-hero__content {
    padding: 3rem 3.25rem 2.5rem;
    padding-right: 32rem;
  }

  .login-hero__heading {
    padding-top: 1.5rem;
  }

  .login-hero__contacts {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
  }
}

@media (max-width: 1023.98px) {
  .login-hero {
    min-height: 30rem;
    background: linear-gradient(180deg, #1841d0 0%, #2d63f9 100%);
  }

  .login-hero__content {
    min-height: 30rem;
    justify-content: flex-start;
    padding: 2.5rem 1.9rem 7rem;
  }

  .login-hero__heading {
    max-width: 42rem;
    padding-top: 0;
    margin: 0 auto;
    text-align: center;
  }

  .login-hero__title {
    max-width: 39rem;
    font-size: clamp(2.7rem, 6vw, 3.65rem);
    line-height: 1.12;
  }

  .login-hero__contacts {
    display: none;
  }

  .login-hero::before {
    height: 29%;
    background: linear-gradient(180deg, #d9dce6 0%, #eef1f7 60%, #eef1f7 100%);
    clip-path: polygon(0 100%, 100% 8%, 100% 100%, 0 100%);
  }
}

@media (max-width: 767.98px) {
  .login-hero {
    min-height: 25rem;
  }

  .login-hero__content {
    min-height: 25rem;

    padding: 1rem 0.9rem 5.7rem;
  }

  .login-hero__heading {
    max-width: 13rem;
  }

  .login-hero__title {
    max-width: 20rem;
    font-size: clamp(1.75rem, 8.7vw, 2.15rem);
    line-height: 1.14;
    letter-spacing: -0.025em;
  }

  .login-hero::before {
    inset: auto 0 0 0;
    height: 26%;
    clip-path: polygon(0 100%, 100% 22%, 100% 100%, 0 100%);
  }
}
