<header class="page-header">
  <div class="page-header__main-group">
    <div class="page-header__icon" *ngIf="icon">
      <lucide-icon [img]="icon" [size]="20" [strokeWidth]="2.1" />
    </div>

    <div class="page-header__main">
      <h1 class="page-header__title">
        {{ title }}
      </h1>

      <p class="page-header__subtitle" *ngIf="subtitle">
        {{ subtitle }}
      </p>
    </div>
  </div>

  <div class="page-header__actions">
    <ng-content select="[page-header-actions]" />
  </div>
</header>
