<section class="users-page">
  <section class="users-page__content">
    <app-data-table
      [columns]="columns"
      [rows]="usersView()"
      [pageSize]="pageSize()"
      [headerActions]="tableHeaderActions"
      [rowActions]="tableRowActions"
      [enableSearch]="true"
      [searchPlaceholder]="'Buscar por nombre, correo o empresa'"
      [searchIcon]="searchIcon"
      (headerAction)="onTableHeaderAction($event)"
      (rowAction)="onTableRowAction($event)"
      (searchChange)="onTableSearch($event)"
      (pageSizeChange)="onTablePageSizeChange($event)"
    ></app-data-table>
  </section>
</section>
