<section class="user-create-page">
  <main class="user-create-page__body">
    <section class="user-create-page__card">
      <header class="user-create-page__card-header">
        <div>
          <h2 class="user-create-page__card-title">Nuevo usuario</h2>
          <p class="user-create-page__card-subtitle">
            Completa la información básica del usuario. Podrás ajustar sus permisos más adelante.
          </p>
        </div>
      </header>

      <form class="user-create-page__form" (submit)="onSubmit($event)">
        <div class="user-create-page__grid">
          <app-form-input
            label="Nombre completo"
            placeholder="Ej. Diego Pérez"
            [required]="true"
            [(value)]="name"
            [error]="errors.name"
          />

          <app-form-input
            label="Correo electrónico"
            type="email"
            placeholder="nombre@empresa.com"
            [required]="true"
            [(value)]="email"
            [error]="errors.email"
          />

          <app-form-input
            label="Contraseña"
            type="password"
            placeholder="Mínimo 8 caracteres"
            [required]="true"
            [(value)]="password"
            [error]="errors.password"
          />

          <app-form-select
            label="Tipo de documento"
            [placeholder]="'Selecciona tipo'"
            [options]="documentTypeOptions"
            [required]="true"
            [(value)]="documentType"
            [error]="errors.documentType"
          />

          <app-form-input
            label="N.º de documento"
            placeholder="Ingresa el número de documento"
            [required]="true"
            [(value)]="documentNumber"
            [error]="errors.documentNumber"
          />

          <app-form-input
            label="Teléfono"
            type="tel"
            placeholder="Ej. +51 999 999 999"
            [required]="true"
            [(value)]="phone"
            [error]="errors.phone"
            />
        </div>

        <div class="user-create-page__footer">
          <app-button variant="outline" type="button" (click)="onCancel()"> Cancelar </app-button>

          <app-button variant="primary" type="submit" [disabled]="isSubmitting">
            Guardar usuario
          </app-button>
        </div>
      </form>
    </section>
  </main>
</section>
